<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="shortcut icon" href="../multimedia/ideo-logo.jpg" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="../index.html">
            <img class="ideoLogo" src="../multimedia/ideo-logo.jpg" alt="Logo de Ideo">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="home-and-living.html">Home & Living</a>
                </li>
                <li>|</li>
                <li>Electronics</li>
                <li>|</li>
                <li>Hoseware & Kitchen</li>
                <li>|</li>
                <li>Pets</li>
                <li>|</li>
                <li>
                    <a href="order-tracking.html" target="_blank">Order Tracking</a>
                </li>
                <li>
                    <a href="about-us.html">About Us</a>
                </li>
            </a></nav>
    </header>
    <h1>About Us</h1>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus animi ad ipsum provident rerum reiciendis doloribus, sed eligendi dolor, sint veritatis facere id nihil, incidunt dicta cum sit omnis quia.</p>
    <h2>Our Guarantee</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique in temporibus cum assumenda veniam excepturi? Repellendus cum possimus voluptas vitae reprehenderit tenetur, aliquam voluptatem architecto, ea nihil molestias neque veniam?</p>
    <h2>Ideo Team</h2>
    <p>Email suppor@ideothebrand.co</p>
    <h2>Support Time</h2>
    <p>Monday - Saturday, 9:00 AM - 9:00 PM (PST)<br>(You can still email us outside of business hours and we will respond within 24 hours)</p>
</body>
</html>