<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="shortcut icon" href="../multimedia/ideo-logo.jpg" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="../index.html">
            <img class="ideoLogo" src="../multimedia/ideo-logo.jpg" alt="Logo de Ideo">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="home-and-living.html">Home & Living</a>
                </li>
                <li>|</li>
                <li>Electronics</li>
                <li>|</li>
                <li>Hoseware & Kitchen</li>
                <li>|</li>
                <li>Pets</li>
                <li>|</li>
                <li>
                    <a href="order-tracking.html">Order Tracking</a>
                </li>
                <li>|</li>
                <li>
                    <a href="about-us.html">About Us</a>
                </li>
            </a></nav>
    </header>
    <div class="orderTracking">
        <h1>Order Tracking</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id totam magni, suscipit praesentium cumque ipsam veritatis qui laboriosam explicabo nam fuga porro voluptas tenetur similique sapiente? Aliquam sunt inventore adipisci.</p>
        <h2>UNITED STATES</h2>
        <input type="text"><br>
        <button>FIND ORDER</button>
        <h2>WORLDWIDE</h2>
        <input type="text"><br>
        <button>FIND ORDER</button>
    </div>
</body>
</html>